@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> CRUD Operations on Bank DB</h1>
    
</div>
<div class="container">
    <ul>
        <li>.Net Core Web Application</li>
        <li>Razor Pages</li>
        <li>Remotely database in SSMS operated using Entity Framework</li>
    </ul>
</div>
