@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<img src="~/images/policy.jpg"  style="width:100%;">

<p>
    We comprehend that your protection is imperative to you. It is imperative to us as well. That is the reason we secure your own data and are clear and open about what we do with it.The accompanying data will disclose to you how we do this. It covers general data about ASB's security approach. It doesn't adjust or supplant our terms and conditions which oversee the particulars of your relationship with us.
</p>
